*{padding: 0;margin: 0;}
.d1{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/cover.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d2{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/data.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d3{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/1.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d4{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/2.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d5{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/3.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d6{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/4.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d7{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/5.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d8{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/6.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d9{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/7.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d10{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/8.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d11{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/9.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d12{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/10.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d13{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/11.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d14{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/12.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d15{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/13.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d16{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/14.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d17{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/15.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.d18{width: 100%;background: url("http://images.china.cn/images1/en/2018fpzt/end.jpg") no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;}
.list{ width: 100%;height: 69px;position: absolute;bottom:2%; display: none;background-color: #0f1a22;}
.list div{float: left;padding-top: 0.7%;}
.list img {margin-right: 5px;}
.list img:hover{cursor: pointer;}
.list a{ width: 79px;display: inline-block; margin-right: 5px;}
.list a:hover{filter:alpha(opacity=50) !important;/*IE*/opacity:0.5 !important; }
.toplist{ width: 100%;height: 54px;position: absolute;top:0; border-bottom:2px solid #104498;background-color: #fff;}
.toplist a{display: inline-block;margin-right: 6px;}
@media screen and (max-width: 1024px) {
    .mobile {display:block;}
	.pc{display: none;}
}
@media screen and (min-width: 1024px) {
    .mobile {display:none;}
	.pc{display: block;}
}
.listm{ width: 100%;height: 69px;background-color: #0f1a22;position: relative;bottom: 4px;}
.listm div{float: left;padding-top: 2.5%;}
.listm img {margin-right: 5px;}